@import url(reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

body {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container ul {
  display: flex;
  width: 1000px;
}
ul {
  gap: 12px;
}
ul img {
  aspect-ratio: 1/3;
}
li:nth-child(2) img {
  aspect-ratio: 0/0;
  width: 2200px;
  height: 100%;
  padding: 0 16px;
  background-color: black;
}

ul li img {
  border-radius: 22px;
}
