@import url(reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

.page {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: rgb(238, 238, 238);
}

img {
  background-color: rgb(255, 255, 255);
}

blockquote {
  font-family: Georgia, serif;
}

a {
  color: rgb(0, 153, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
}
