@import url(reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

html {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}
h2 {
  font-family: Georgia, serif;
  line-height: 1.2;
}

.section {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  gap: 36px;
}
